<ion-card class="ion-activatable ripple-parent">

  <ion-card-header (click) = 'isInfoShown = !isInfoShown'>
    <span numberColor class="data-value">
      {{ data.value | currency }}
    </span>
    <span class="date">
      {{ data.register_date | date: 'dd/MM/YYYY' }}
    </span>
  </ion-card-header>

  <ion-card-content [hidden]="!isInfoShown">

    <ion-list>
      <ion-item><span class="data-detail">ID:</span> {{ data.id }}</ion-item>
      <ion-item><span class="data-detail">Type:</span> {{ data.type }}</ion-item>
      <ion-item><span class="data-detail">Description:</span> {{ data.description }}</ion-item>
      <ion-item><span class="data-detail">Registered:</span> {{ data.register_date | date: 'dd/MM/YYYY HH:mm:ss' }}</ion-item>
    </ion-list>

    <div class="buttons-container">
      <ion-button color="warning"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger"><ion-icon name="trash"></ion-icon></ion-button>
    </div>

  </ion-card-content>

  <ion-ripple-effect></ion-ripple-effect>
</ion-card>