<shared-page-header-component pageName="New Type" [backButton]=true></shared-page-header-component>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <ion-item>
          <ion-label position="floating">Type</ion-label>
          <ion-input formControlName='type'></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Earning or Expanse</ion-label>
          <ion-select placeholder="Select One" formControlName = "is_earning">
            <ion-select-option value = "1"> Earning </ion-select-option>
            <ion-select-option value = "0"> Expanse </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" type="submit" textIconButton>
          <ion-icon name="add-circle"></ion-icon>
          <span>Add new Type</span>
        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        All Types
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let type of types"> {{ type.type }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <shared-expansable-item-component
    *ngFor="let type of types"
    [dataType]="type"
  ></shared-expansable-item-component>

</ion-content>