<shared-page-header-component pageName="History"></shared-page-header-component>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Filter Date</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option *ngFor="let option of filterOptions" [value]="option.value">{{ option.text }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <shared-expansable-item-component
    *ngFor="let register of registers"
    [dataRegister]="register"
  ></shared-expansable-item-component>

</ion-content>