.chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-float {
    float: right;
}

.history-button {

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin-left: 8px;
    }

}

.green-text {
    color: #2fdf75
}

.red-text {
    color: #ff4961
}