<shared-page-header-component pageName="New Register" [backButton]=true></shared-page-header-component>

<ion-content [fullscreen]="true">

  <shared-refresher-component
    (refreshPage) = 'shouldRefresh($event)'
  ></shared-refresher-component>

  <ion-card>
    <ion-card-content>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <ion-item>
          <ion-label position="floating">Value</ion-label>
          <ion-input formControlName='value' (ionChange)="updateWithMask($event)"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select placeholder="Select One" formControlName = "type">
            <ion-select-option *ngFor = "let type of types" [value]="type.type">{{ type.type }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName='description'></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Date - {{ form.value.register_date | date: 'dd/MM/YYYY HH:mm:ss' }}</ion-label>
          <ion-button fill="clear" id="open-date-input-2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <ion-popover trigger="open-date-input-2" show-backdrop="false">
            <ng-template>
              <ion-datetime
                formControlName = 'register_date'
                #popoverDatetime2
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-button expand="block" type="submit" textIconButton>
          <ion-icon name="add-circle"></ion-icon>
          <span>Add new Register</span>
        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>

  <div class="bottom-card">
    <ion-card>
      <ion-card-content>
        <ion-button expand="block" type="submit" textIconButton routerLink="../add-type">
          <ion-icon name="add-circle"></ion-icon>
          <span>Add new Type</span>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/history">
    <ion-fab-button color="tertiary">
        <ion-icon name="time"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>